.body{
	font-family:sans-serif;
	font-size:10px;
}
.tarolo{
	width:90%;
	max-width:900px;
	background-image:url:"fekete.png";
	background-color:#ff0000;
}
#nav{
	background-color:gray;
	font-weight:bond;
	font-size:10px;
	padding:10px
	
}
h1{
	font-size:15px;
}